body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%; /* 100% for each slide */
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}

.prev {
  left: 0px;
  color: #2d9596;
}

.next {
  right: 0px;
  color: #2d9596;
}

.slide-content {
  text-align: center;
  margin-left: 3.5%;
  padding: 20px;
  width: 90%;
}

h2 {
  color: #053030;
}

p {
  color: #053030;
}
