@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding : 0;
    box-sizing: border - box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: -94px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    transition:0.6s;
    padding: 40px 100px;
    z-index: 1000;
    background: url(bg_emoney2.jpg);
    background-size: cover;
    border-bottom: 2px solid transparent;
}

header.sticky{
    padding: 5px 100px;
    background: #2d9596;
    border-bottom: 2px solid #217c7d;
    z-index: 100002; /* Increased z-index */
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #c9e4e4;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #c9e4e4;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #c9e4e4;
}

header.sticky ul li a:hover {
    color: white;
}